<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakkaf Portfolio</title>

    <link rel="stylesheet" href="static/css/style.css">

    <!--Box icon-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--Header-->
    <header class="header">
        <a href="#" class="logo">Wakkaf.<span class="animate" style="--i:1;"></span></a>

        <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;"></span></div>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#education">Education/Experience</a>
            <a href="#portfolio">Certifications</a>
            
            <span class="active-nav"></span>
            <span class="animate" style="--i:2;"></span>
        </nav>
    </header>

    <!--home section-->
    <section class="home show-animate" id="home">
        <div class="home-content">
            <h1>Hi, I'm<span> Ahmad </span><span class="animate" style="--i:2;"></span></h1>
            <div class="text-animate">
                <h3>SOC Analyst </h3>
                <span class="animate" style="--i:3;"></span>
            </div>
            <p>Hello folks, welcome to my page, I'm Ahmad! Just a guy who seeking various opportunities to explore and research in the area of Cybersecurity.
                <span class="animate" style="--i:4;"></span>
            </p>

            <div class="btn-box">
                <a href="#" class="btn" id="downloadCv">Download Cv</a>
                <a href="#about" class="btn">About Me</a>
                <span class="animate" style="--i:5;"></span>
            </div>

        </div>
        <div class="home-sci">
            <a href="https://www.linkedin.com/in/ahmad-wakkaf/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/ahmad-wakkaf/" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="mailto:ahmad.wakkaf8@gmail.com" target="_blank"><i class='bx bx-envelope'></i></a>
            <span class="animate" style="--i:6;"></span>
        </div>

        <div class="home-imgHover"></div>
        <span class="animate home-img" style="--i:7;"></span>
    </section>

    <!--about section-->
    <section class="about" id="about">
        <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>
        <div class="about-img">
            <img src="static/images/soc-analyst.gif">
            <span class="circle-spin"></span>
            <span class="animate scroll" style="--i:2;"></span>
        </div>

        <div class="about-content">
            <h3>SOC Analyst I<span class="animate scroll" style="--i:3;"></span></h3>
            <p>Hello, I'm Ahmad! I live in Saint Petersburg and am pursuing a Master's in Information Security at ITMO University. I'm passionate about cybersecurity, focusing on threat analysis, SIEM tools, network security, and incident response. In my free time, I enjoy walks, reading, and watching Anime.
                <span class="animate scroll" style="--i:4;"></span>
            </p>

            <div class="btn-box btns">
                <a href="" class="btn" id="downloadCv2">Read More</a>
                <span class="animate scroll" style="--i:5;"></span>
            </div>
        </div>
    </section>

    <!--Education/Experience section-->
    <section class="education" id="education">
        <h2 class="heading">My <span>Journey</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education<span class="animate scroll" style="--i:2;"></span></h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"> <i class='bx bxs-calendar'></i> 2015 - 2021</div>
                            <h3>Tishreen University</h3>
                            <p>I studied at Tishreen University, Department of Computer Systems and Networks Engineering between 2015-2021, this period helped me to increase my interest in Cybersecurity and shape my career.</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"> <i class='bx bxs-calendar'></i> 2024 - 2026</div>
                            <h3>ITMO University</h3>
                            <p>I am a first year student at ITMO University, pursuing a Master’s degree in Information Security with a focus on the practical side of the field.</p>

                        </div>
                    </div>
                    <span class="animate scroll" style="--i:3;"></span>
                </div>
            </div>
            <div class="education-column">
                <h3 class="title">Experience<span class="animate scroll" style="--i:5;"></span></h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"> <i class='bx bxs-calendar'></i>2019 - 2020</div>
                            <h3>IT Network Technician - ACM ICPC-Syrian Collegiate Programming Contest</h3>
                            
                                <ul>  
                                    <b>Responsibilities:</b>
  
                                    <li>- Provided technical assistance and application support.</li>
                                
                                    <li>- Troubleshot hardware and software issues.</li> 

                                    <li>- Analyzed and diagnosed wired and wireless local area networks.</li>
                                </ul>
                            
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"> <i class='bx bxs-calendar'></i> 2022 - 2022 (3 Months)</div>
                            <h3>Cyber Security Intern - CyberTalents</h3>
                                <ul>  
                                    <b>Responsibilities:</b>

                                    <li>- Conducted web application security assessments.</li>
                            
                                    <li>- Implemented data encryption techniques.</li> 

                                    <li>- Performed network security audits and forensics investigations.</li>
                                </ul>

                        </div>
                    </div>
                    <span class="animate scroll" style="--i:6;"></span>
                </div>
            </div>
        </div>
    </section>

    <!--Portfolio section-->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">My <span>Certifications</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/images/Cert-NSE1.png" alt="">
                <div class="portfolio-layer">
                    <h4>NSE 1 Network Security Associate</h4>
                    <p>NSE 1 Network Security Associate is a certification by Fortinet that validates foundational knowledge of cybersecurity concepts, threats, and solutions to protect networks.</p>
                    <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php" target="_blank"><i
                            class='bx bx-link-external'></i></a>
                </div>
                <span class="animate scroll" style="--i:2;"></span>
            </div>

            <div class="portfolio-box">
                <img src="static/images/Cert-NSE2.png" alt="">
                <div class="portfolio-layer">
                    <h4>NSE 2 Network Security Associate</h4>
                    <p>NSE 2 Network Security Associate is a certification by Fortinet that focusing on understanding the cybersecurity landscape, Fortinet's security fabric, and key threat prevention technologies.</p>
                    <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php" target="_blank"><i class='bx bx-link-external'></i></a>
                </div>
                <span class="animate scroll" style="--i:3;"></span>
            </div>

            <div class="portfolio-box">
                <img src="static/images/Cert-NSE3.png" alt="">
                <div class="portfolio-layer">
                    <h4>NSE 3 Network Security Associate</h4>
                    <p>NSE 3 Network Security Associate is a certification by Fortinet that provides hands-on experience with Fortinet's security solutions, emphasizing their integration and operation in real-world network environments.</p>
                    <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php" target="_blank"><i class='bx bx-link-external'></i></a>
                </div>
                <span class="animate scroll" style="--i:4;"></span>
            </div>

            <div class="portfolio-box">
                <img src="static/images/Cert-Google.png" alt="">
                <div class="portfolio-layer">
                    <h4>Google IT Support Professional</h4>
                    <p>Google IT Support Professional is a certification that equips learners with essential IT skills, including troubleshooting, networking, system administration, and cybersecurity.</p>
                    <a href="https://www.credly.com/go/JNwkLo8o" target="_blank"><i class='bx bx-link-external'></i></a>
                </div>
                <span class="animate scroll" style="--i:5;"></span>
            </div>

            
        </div>
    </section>

    <!--fOOTER-->
    <footer class="footer">
        <div class="footer-text">
            <p>Hacking my way through life. 💻 | Ahmad W.</p>
        </div>

        <div class="footer-text footer-time">
            <p>{{date}}</p>
        </div>
        
        <div class="footer-iconTop">
            <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
            <span class="animate scroll" style="--i:1;"></span>

        </div>
    </footer>
    
    <script src="static/js/javascript.js"></script>
</body>

</html>